<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ServiceConfig" type="Avalara.AvaTax.Common.Configuration.XmlSerializerSectionHandler"/>
        <section name="RequestSecurity" type="Avalara.AvaTax.Common.Configuration.XmlSerializerSectionHandler"/>
    </configSections>
    <ServiceConfig type="Avalara.AvaTax.Adapter.ServiceConfig">
        <Url>https://development.avalara.net</Url>
        <ViaUrl></ViaUrl>
		<!-- RequestTimeout : Gets or sets the time the XML Web service client waits for a synchronous XML Web service request to complete (in seconds). -->
        <RequestTimeout>100</RequestTimeout>
    </ServiceConfig>
    <RequestSecurity type="Avalara.AvaTax.Adapter.RequestSecurity">
        <Account></Account>
        <License></License>
    </RequestSecurity>

	<!-- AvaLogger : is used for adapter logging
	     logFilePath : is the path where adapter log files will be created
	     logLevel : sets the level for all adapter logging (NONE (default) | DEBUG | INFO | WARNING | ERROR | FATAL)
          logMessages : enables event logging to Adapter.YYYY-MM-DD.log (true | false)
          logTransactions : enables logging the results of each web service tranaction to AdapterTransactions.YYYY-MM-DD.log (true | false)
          logSoap : enables SOAP message logging to AdapterSoap.YYYY-MM-DD.log (true | false) -->
	<AvaLogger logFilePath="logs" logLevel="NONE" logMessages="false" logTransactions="false" logSoap="false"/>
</configuration>
